/**
 * 	用于气泡高度增大时向上自适应
 */
#TSTextField .bubbleBorder {
	top: 0px;
	position: absolute; 
	//display: none;
	z-index: 9999;
}

#TSTextField .bubble {
	margin: 5px auto;
	position: absolute; 
	left: 0px; 
	width: 200px;
	bottom: -3px;
}

#TSTextField .bubble div {
	background: url(../../../../images/bubble-arrowy.png) no-repeat center;
	height: 10px;
	left: 15px;
	height: 8px;
	width: 20px;
}

#TSTextField .bubble > ul >li {border: 0px; list-style:none; margin-bottom:px; line-height:1.4; text-align: left;}
#TSTextField .bubble > ul {
	color: #494d28;
	//background-color:#7595d2;
	background-color: #fbf5d1;
	border-radius: 4px;
	position: relative;
	padding: 10px 15px;
	//max-width: 166px;
	word-break:break-all;
	margin:0;
	border: 1px #ffdc87 solid;
	
	position: absolute;
	bottom: 7px;
}
#TSTextField .bubble img {
	margin-left: 5%;
}
#TSTextField .bubble i.garrow { display:inline-block; width:18px; height:18px;  background:url(../../../../images/icon-garrow.png) no-repeat center; margin-right:4px; vertical-align: text-bottom;}
#TSTextField .bubble i.oarrow { display:inline-block; width:18px; height:18px;  background:url(../../../../images/icon-oarrow.png) no-repeat center; margin-right:4px; vertical-align: text-bottom;}
#TSTextField .bubble i.loading { display:inline-block; width:18px; height:18px;  background:url(../../../../images/loading.gif) no-repeat center; margin-right:4px; vertical-align: text-bottom;}
#TSTextField.condition input {
	height: 24px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100%;
}

 