/*~~~~~~~~~~dialog~~~~~~~~~~*/
#TSWizardDialog .-ts-wizard-overlay{
    position:fixed;
    z-index:100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.3);
}
#TSWizardDialog .-ts-wizard-dialog{
    position:absolute;
    width:798px;
    height:518px;
    margin-left:-400px;
    margin-top:-260px;
    left:50%;
    top:50%;
    border-radius: 8px;
    background-color:#fff;
    box-shadow:0 0 30px #000;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-dialog-head>[data-role="title"]{
    margin:0;
}
#TSWizardDialog .-ts-dialog-head>.-ts-wizard-close{
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(assets/images/icon-close8s.png) no-repeat center;
    top: 16px;
    right: 16px;
    border: none;
}
#TSWizardDialog .-ts-dialog-head>.-ts-wizard-close:hover {
    background: url(assets/images/icon-closeb8.png) no-repeat center #666;
	  border-radius: 20px;
}
/*~~~~~~~~~~dialog-head~~~~~~~~~~*/
#TSWizardDialog .-ts-wizard-dialog .-ts-dialog-head{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #6c8dcf;
    background: linear-gradient( top, #7595d2, #6082ca);
    background: -ms-linear-gradient( top, #7595d2, #6082ca);
    background: -moz-linear-gradient( top, #7595d2, #6082ca);
    background: -webkit-linear-gradient( top, #7595d2, #6082ca);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-dialog-head h2{
    font-size: 16px;
    color: #fff;
    font-family: Arial, "微软雅黑";
    font-weight: bold;
}
/*~~~~~~~~~~dialog-body~~~~~~~~~~*/
#TSWizardDialog .-ts-wizard-dialog .-ts-dialog-body{
    position:relative;
    height:418px;
    overflow:auto;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-step-labels{
    padding-left:0;
    list-style-type:none;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-step-labels>li{
    position:relative;
    width:140px;
    padding:0 20px;
    line-height:48px;
    float:left;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-step-labels>li:first-child {
    border-radius: 4px 0 0 4px;
}
#TSWizardDialog .-ts-wizard-dialog .-ts-step-labels>li.current {
    color: #3a87ad;
    background-color: #f1f6fc;
}
#TSWizardDialog    .-ts-wizard-dialog .-ts-step-labels>li.current .badge{
	color: #fff;
    background-color:#5b8edd;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li .badge{
    color: #fff;
    background-color:#b3c2d5;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li.current span{
	color: #424242
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li span{
	color: #8f8e8c
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li .chevron{
	position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
    display: block;
    
	border: 24px solid transparent;
    border-right: 0;
    
	border-left: 14px solid #d4d4d4;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li .chevron:before{
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    /* border-left: 14px solid #ededed; */
    border-left: 14px solid #dde5f2;
    content: "";
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-step-labels>li.current .chevron:before{
	border-left: 14px solid #f1f6fc;
}
#TSWizardDialog  .badge-color{
	background-color: #b3c2d5;
	}
#TSWizardDialog  .text-color{
	color: #8e8f91;
	}
/*~~~~~~~~~~dialog-foot~~~~~~~~~~*/
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-foot{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 0;
    padding: 9px;
    text-align: right;
    height: 60px;
    background-color: #c7d0df;
    border-top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-buttonbar{
    float:right;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-buttonbar input[type="button"]{
    color: #dfe6f6;
    border: 1px solid #4478cb;
    background-color:#6196e0;
    background: linear-gradient( top, #6399e1, #5286da);
    background: -ms-linear-gradient( top, #6399e1, #5286da);
    background: -moz-linear-gradient( top, #6399e1, #5286da);
    background: -webkit-linear-gradient( top, #6399e1, #5286da);
    border-radius: 4px;
    padding: 6px 20px;
    cursor: pointer;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-buttonbar input[type="button"].invisible{
    display: none;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-buttonbar input[type="button"]:last-child{
    margin-right: 13px;
}
#TSWizardDialog  .-ts-wizard-dialog .-ts-dialog-buttonbar input[type="button"]:hover{
    color:#fff;
    background-color: #5488db;
    background: linear-gradient( top, #558de5, #4479df);
    background: -ms-linear-gradient( top, #558de5, #4479df);
    background: -moz-linear-gradient( top, #558de5, #4479df);
    background: -webkit-linear-gradient( top, #558de5, #4479df);
}
