@charset "utf-8";
/* CSS Document */
html {
	overflow:hidden;
}
.nav-splan {
	height: 41px;
	background-color: #e6e6e6;
	overflow:hidden;
	padding-left:14px;
}
.nav-splan li {
	float: left;
	margin: 0 14px 0 0;
}
.nav-splan li a {
	margin-top: 6px;
	display: block;
	font-style:normal;
	height:38px;
	line-height: 34px;
	padding: 0 16px;
	text-decoration: none;
	border-radius: 4px;
	color: #999;
}
.nav-splan li a:hover {
	background-color:#fff;
	color: #999;
}
