/*aria*/
[aria-hidden="true"],[hidden],.hidden{
	display:none!important;
}
.invisible{visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb:before,.ca:after{content:"";display:block;clear:both;}
.ib{display:inline-block;}
.unselectable{
	-webkit-user-select:none;
	-moz--user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.nowrap{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/* scroll bar */

/* columns */
[data-columns="2"]{
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}
/*bootstrap css overriding*/
.navbar-nav a{
	cursor:default;
}
